.content{
    padding: 70px;
    width: 90vw;
    background-color: #000020;
}
.left-side {
    float: right;
    margin: 0px;
    shape-margin: 0px;
    shape-outside: url(./sc/mo_prev_ui.png);

}


.content img {
  max-width: 100%;
}
p{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    color: aquamarine;
}

