#about_me{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: baseline;
  height:100vh;
  width: 100vw;
  transition: background-color 1s;
  color: white;
}

#glassy-profile{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgba(255, 255, 255,0.05);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.5s;
    opacity: 1;
    max-height: 100vh;
  }
  #about_section{
    display: flex;
    height: 45%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #elevatorsection{
    display: flex;
    width: 100%;
    height: 45%;  
    flex-direction: row;
  }
  #about_section div h1{
    font-size: 4rem;
  }
  #about_section div{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:50%;
    padding-left:40px ;
    height: fit-content;
  }
  #about_section div p{
    font-size: 1.5em;
  }


  #glassy-header{
    font-size: 4rem;
    font-weight: bold;
  }
  #image-side {
    width: 30%;
    height:100%;
    margin: 0;
  }
  .header-side {
    width: 40%;
    height:100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-side h1{
    font-size: 3em;
    padding: 40px;
  }
  .video-section{
    width: 60%;
    height:100%;
    margin: 0;
  }

  

  .text-side p {
    font-size: 0.8em;
    margin: 10px;
  }
  #arrow{
    width: 100%;
    background-color: transparent;
    color: white;
  }