.articulate{
    display: grid;
    grid-template-columns: 1;
    background-color: aliceblue;
    flex-direction: column-reverse;
}
.articlate_con {
    background-color: white;
    height: 100vh;
    width: 80%;
    min-width: 300px;
}
.list_menue{
    background-color: aqua;
    height: 300px;
    width: 15%;
    min-width: 200px;
}
.list_menue ul {
    list-style: none;
}
.list_menue ul li {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Normal', Arial, sans-serif;

}
@media screen and (min-width: 900px)
{
        articulate{
	display: grid;

	background-color: aliceblue;
	

    }
    .articlate_con {
	background-color: white;
	height: 100vh;
	width: 80%;
	min-width: 300px;
    }
    .list_menue{
	background-color: red;
	height: 300px;
	width: 15%;
	min-width: 200px;
    }
    .list_menue ul {
	list-style: none;
    }
    .list_menue ul li {
	font-size: 15px;
	font-family: 'Franklin Gothic Medium', 'Arial Normal', Arial, sans-serif;

    }
}

