/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  
}

/* Set up global styles */
body {
  font-family: Arial, sans-serif;
}

.color-changing-container {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  height:85vh;
  width: 100vw;
  transition: background-color 1s;
}

  .animation-circle {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 90vw;
    height: fit-content;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s;
    opacity: 1;
    max-height: 80vh;
  }

.animation-circle.active {
  opacity: 0;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height:fit-content;
  display: flex;
  flex-direction: column;
  width: 400px; /* Adjust the width of the sidebar */
  padding: 10px 0;
  z-index: 9999;
}
.nav_logo{
  display: none;
}

.nav-logo {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}
.nav-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: fit-content;
  z-index: 999999;
  justify-content: flex-start;
  min-height: 45vh;
  padding-bottom:20px ;
}

.nav-menu li {
  margin: 10px 0;
}

.nav-menu li a {
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-menu li a:hover {
  background-color: #fff;
  color:#fff;
}
.nav-menu_alt{
  display: none;
}
@media (min-width: 450px){
  .navbar{
    display: none;
  }
  .color-changing-container {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height:100vh;
    width: 100vw;
    transition: background-color 1s;
  }
  .navbar_alt {
    position: fixed;
    top: 0;
    left: 0;
    height:fit-content;
    display: flex;
    flex-direction: row;
    width: 100vw; /* Adjust the width of the sidebar */
    padding: 10px 0;
    z-index: 9999;
  }
  .nav-menu_alt {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    width: 70vw;
    justify-content: center;
    min-height: 50px;

  }
  .nav-menu_alt li {
    margin: 10px;
  }
  
  .nav-menu_alt li a {
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .nav-menu_alt li a:hover {
    color:#fff;
  }
  .nav_logo {
    width: fit-content;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
  } 
  .animation-circle {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    width: 55vw;
    height: fit-content;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s;
    opacity: 1;
    max-height: 80vh;
  }
  
  .animation-circle.active {
    opacity: 0;
  }
  
}