/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  
}

/* Set up global styles */
body {
  font-family: Arial, sans-serif;
}
#body{
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

 
