.glassy-profile {
    display: flex;
    background-color: transparent;
    min-height: 60vh;
    height: 55h;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .text-side {
    height: 100%;
    flex: 1;
    padding: 40px;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    background-color:transparent;
    font-family: monospace;
    font-size: 20px;
    margin: 5px;
  }
  .glassytitle{
    font-size: 20px;
    font-weight: bold;
  }
  .glassy-header{
    font-size: 4rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .image-side {
    height: 50vh;
    background-color:transparent;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
 
  .personally{
    color: black;
    font-size: 14px;
    padding: 5px;
    width: 160px !important;
    border-radius: 5px;
    margin: 5px;
  }
  .personally:hover{
    background-color: rgb(255, 255, 255, 0.6) !important;
  }
 #img{
  border-radius: 10px;
  height: 100%;
  width: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 }

 /* mobile  */

 @media (max-width: 767px) {
  .glassy-profile {
    display: flex;
    min-height:50vh ;
    height: 50;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }


  .text-side {
    height: 100%;
    flex: 1;
    padding: 20px;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    background-color:transparent;
    font-family: monospace;
    font-size: 16px;
    margin: 5px;
    max-width: 50%;
  }

  .glassy-header{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .glassytitle{
    font-size: 16px;
    font-weight: bold;
  }
  .image-side {
    height: 50vh;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  #img{
    height: 50%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   }
  
 }