.project_container{
    background-color: blue;
    height: inherit;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    box-sizing: border-box;
}
.project_grid{
    --gap:10px;
    --num-cols:2;
    --row-height:150px;
    box-sizing: border-box;
    padding: var(--gap);
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap); 
}
.project_grid div
{
    width: 95%;
    height: 95%;
    border-radius: 4px;
    background-color:red;
}
.first_element{
    grid-row: span 2;
    grid-column: span 2;
}
.view_on_vercel{
    height: 70px !important;
    grid-column: span 3;
    
    
}
@media screen and (min-width: 900px)
{
    .project_container{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;


}
.project_grid{
    background-color: aliceblue;
    width: 80vw;
    
    --gap:10px;
    --num-cols:3;
    --row-height:220px;
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap); 
}
}
