.pro-animation-circle {
  position: relative;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  width: 90vw;
  height: fit-content;
  padding: 10;
  background-color: rgba(255, 255, 255, 0.09);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s;
  opacity: 1;
  max-height: 80vh;
}

.pro-animation-circle.active {
opacity: 0;
}
.pro-glassy-profile {
  display: flex;
  background-color: transparent;
}

.pro-text-side {
  flex: 0.7;
  padding: 20px;
  color: white;
  font-family: monospace;
  font-size: 20px;
  margin: 5px;
}
.pro-glassytitle{
  font-size: 20px;
  font-weight: bold;
}
.pro-glassy-header{
  font-size: 4rem;
  font-weight: bold;
}
.pro-image-side {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  align-items: center;
  height:500px;
}
#contributors{
  font-size: 0.5em;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
#contributors button{
  background-color: transparent;
}

.pro-image-side img {
  background-color:transparent;
  min-height: 170px;
  width: 120px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 10;
  max-height: 40%;
}
.pro-text-side p {
  font-size: 0.8em;
  margin: 10px;
}
.pro-personally{
  background-color: rgb(255, 255, 255, 0.3) !important;
  color: black;
  font-size: 14px;
  padding: 5px;
  width: 160px !important;
  border-radius: 5px;
  margin: 15px;
}
.pro-personally:hover{
  background-color: rgb(255, 255, 255, 0.6) !important;
}
#arrow{
  width: 100%;
  background-color: transparent;
  color: white;
}
@media (max-width: 450px){
  .text-side{
    color: white;
    font-size: 2px;
    padding: 5px;
    font-family: monospace;
  }
  .glassy-profile{
    flex-direction: row;
  }
}