/* global colors
#0B0C10 
#1F2833 light grey
#C5C6C7 dark grey
#66FCF1 light aqu
#45A29E dark aqua
*/
#hero .hero{
    width:70%;
    padding:0;
    margin:0 50px;
    height: 94vh;
}
/*hero section*/
#hero{
background-image: url(/public/img/IMG_20220317_162022.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position:top;
position:relative;
z-index:1;
}
#hero::after{
    content: "";
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    background-color:black;
    opacity:0.6;
    z-index: -1;
}
#hero h1{
    display:block;
    width:fit-content;
    font-size: 3rem;
    position:relative;
    color:transparent;
    animation: .5s ease forwards text-reveal;
    animation-delay: 1s
}

#hero p{
    display:block;
    width:fit-content;
    font-size: 1.5rem;
    position:relative;
    color:transparent;
    animation: text-reveal-name .5s ease forwards;
    animation-delay: 4s
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text-reveal-name .5s ease forwards;
    animation-delay: 3s;
}
#hero h1 span{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:0;
    background-color:#45A29E;
    animation: 1s ease  text-reveal-box;
    animation-delay:.5s;
}
#hero p span{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:0;
    background-color:#45A29E;
    animation: 1s ease  text-reveal-box;
    animation-delay:3.5s;
}
#hero h1:nth-child(1) span{
    animation-delay:.5s;
}
#hero h1:nth-child(2) span{
    animation-delay:1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay:2.5s;
}
.cta{
    display:inline-block;
    padding: 10px 30px;
    color:white;
    background-color: transparent;
    border: 2px solid #45A29E;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: ease background-color .5s, color .5s;
}
.cta:hover{
    background-color: #45A29E;
    color:white;
}
.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.brand h1 span{
    color:#45A29E;
}
/*end of hero section*/
