body, h1, h2, p, button {
    margin: 0;
    padding: 0;
  }
  .portfols{
    font-size: 25px;
    color: #377788;
    font-weight: normal;
  }
  /* Basic styling for the entire page */

  /* // const colors = ['rgb(12,28,37)', '#268BD2', '#2AA198', '#3490A7', '#BED9E0']; */
  /* // const text_colors = ['rgb(134,255,175)', '#0A1C2A', '#052D2A','#377788']; */
  .portfolio {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:#BED9E0;
    width: 100vw;
    display: flex;
    flex-direction:column;
    align-items: center;
  }
  iframe{
    width: 80vw;
    height: 50vh;
    border-radius: 5px;
    min-width: 300px;
    max-height: 500px;
    border: none;
    border: 10px;
  }
  
  .col-right p{
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    line-height: 1.5rem;
    width: 100%;
  }
  /* Navigation */
  nav {
    padding: 10px;
    background-color:transparent;
  }
  
  /* Main content */
  main {
    padding: 20px;
  }
  
  /* Sections */
  section {
    background-color:transparent;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 40px;
  }
  
  /* Video container */
  .video-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    padding: 10px; /* 16:9 aspect ratio */
  }
  .google-slides-container{
    width: 100vw;
    height: fit-content;
  }
  .google-slides-container iframe{
    min-width: 300px;
    width: 60vw;
    height: 50vh;
  }
  @media (min-width: 650px){
    .col-right p{
      padding: 20px;
      margin-bottom: 20px;
      font-size: 2.5rem;
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      line-height: 2.5rem;
      width: 100%;
    }
  }

  