
.App {
  text-align: center;
}




html{
    font-size: 10px;
    font-family: sans-serif;
    scroll-behavior:smooth;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
span{
    color:crimson;
}
