.App {
  text-align: center;
}

.top_bar{
  display: flex;
  
  position: sticky;
  top: 0px;
  height: 50px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  
}

.op{
  width: 100%;
  background-color: #000020;
  height: 40px;
}



