
.header{
    min-height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.about{
    height: 499px;
    margin: 10px;
    width: 400px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    border: 1px;
    box-shadow: 2px 6px 10px rgba(0,0,0,0.2) ;
}

.circle{
    height: 40px;
    width: 40px;
    background-color:white;
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -20px;
    font-size: 20px;
    box-shadow: 2px 6px 10px rgba(0,0,0,0.2) ;
    
}

.storymode{
    height: inherit;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    transition: 1s ease-in linear;
}
.menuebar .li:hover {
    font-weight: bold;
    border-bottom: 2px solid white;
    
} 
 
 .menuebar .li{
     font-size: 20px;
     font-family: monospace;
     font-weight: normal;
     color: white;
    transition: 0.2s ease-out;
    text-decoration: none;
    display:flex;
    justify-content: center;
    flex-direction: row;
    height: 40px;
    align-items: center;
}


.menuebar{
    transition: 0.5s linear;
    width: 100vw;
    line-height: 60px;
    list-style: none;
    z-index: 99999999999999;
    overflow-y: scroll;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    background-color: black;
    overflow-x: hidden;
    cursor: pointer; 
}  

.tol{
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
}


  .menuebar_alt{
    display: none;
  }

@media (min-width: 650px){
  .menuebar_alt .li:hover{
	    font-weight: bolder;
	    color:white;
	    border-bottom: 1px solid white;
    }
  .menuebar_alt .li{
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      list-style: none;
      color: white;
      padding: 0px;
      font-size: 16px;
      margin-rightp: 20px;
      font-family: sans-serif;
      font-weight: normal;
  }
    
.menuebar .li:hover {


}

.menuebar .li{
    min-width: 100px;
    transition: 0.4s ease;
    text-decoration: none;
    color:white;
    font-size: 16px;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}


 .menuebar{
    transition: 0.5s linear;
    background:#000000;
    width: 100vw;
    line-height: 60px;
    list-style: none;
    overflow-y: scroll;
    display: none;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    overflow-x: hidden;
    cursor: pointer; 
 }
  .menuebar_alt{
    background:#000000;
    width: 100vw;
    height: 70px;
    list-style: none;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: flex-end;
    padding-right: 70px;
    overflow-x: hidden;
    cursor: pointer; 
}  
}
